---
title: The Beginnings
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>The Beginnings</h1>

        <p class="subtag">Get inspired from the humble beginnings of famous companies.</p>

        <p>Made by <a href="http://www.avinoth.com" target="_blank">@avinoth</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container cards">
  <div class="row">
    <% data.content.keys.each do |site| %>
      <div class="col-md-4">
        <a href=<%= "/#{site}" %> target="_blank" %>
          <div class="well">
            <%= image_tag "#{site}-logo.png", class: 'image' %>
            <p class="lead">  <%= site.capitalize %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default url-bar">
        <div class="panel-body">
          <a href="https://avinoth.typeform.com/to/HLB73l" target="_blank">Suggest a Company or URL to add</a>
        </div>
      </div>
  </div>
</div>
